<!doctype html>
<html>
  <head>
    <title>Quiet Hacker News</title>
    <style>
      body {
        padding: 20px;
      }
      body, a {
        color: #333;
        font-family: sans-serif;
      }
      li {
        padding: 4px 0;
      }
      .host {
        color: #888;
      }
      .time {
        color: #888;
        padding: 10px 0;
      }
      .footer, .footer a {
        color: #888;
      }
    </style>
  </head>
  <body>
    <h1>Quiet HN</h1>
    <ol>
      {{range .Stories}}
        <li><a href="{{.URL}}">{{.Title}}</a> <span class="host">({{.Host}})</span></li>
      {{end}}
    </ol>
    <p class="time">This page was rendered in {{.Time}}</p>
  </body>
</html>